/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colores =====*/
:root{
  --dark-color: #7b3638;
  --first-color: #e54b49;
  --second-color: #ee693f;
  --white-color: #faebd6;
  --text-color: #739f3d;
  --pink-01 : #fef3e2;
  --pink-02 : #ff6348;
}

/*===== Fuente y tipografia =====*/
:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 5rem;
  --h2-font-size: 2rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 10rem;
    --h2-font-size: 2.5rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margenes =====*/
:root{
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}

/*===== z index =====*/
:root{
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--dark-color);
}

/*===== CLASS CSS ===== */
.section{
  padding: 3rem 0;
}
.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--dark-color);
  margin: var(--mb-4) 0;
  text-align: center;
}
.section-title::after{
  position: absolute;
  content: "";
  width: 32px;
  height: .18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

/*===== UNIVERSAL =====*/
h1,h2,p{
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
  }


/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color);
}

/*===== NAV =====*/
.nav2{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav2 img{
    width: 50px;
}

@media screen and (max-width: 768px){
    .nav__menu2{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: rgba(255,255,255,.3);
        transition: .5s;
        backdrop-filter: blur(10px);
    }
}

.nav__item2{
    margin-bottom: var(--mb-4);
}

.nav__link2{
    position: relative;
    color: var(--dark-color);
}

.nav__link2:hover{
    position: relative;
    color: var(--first-color) ;
}

.nav__link2:hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--white-color);
}

.nav__logo2{
    color: #fcfdfe;
}

.nav__toggle2{
    color: #f7f8f3;
    font-size: 1.5rem;
    cursor: pointer;
}

/*=== Show menu ===*/
.show{
    right: 0;
}

/*Active menu*/
.active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: .18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

.container {
    box-sizing: border-box;
    height: auto;
    min-height: 90vh;
    overflow: hidden;
    padding: 80px 100px 150px;
    position: relative;
    width: 100%;
}

.container1 {
    box-sizing: border-box;
    height: auto;
    min-height: 90vh;
    overflow: hidden;
    padding: 80px 100px 150px;
    position: relative;
    width: 100%;
    background-color: var(--white-color);
}

h1.title{
    color: var(--dark-color);
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 3rem;
}

h1.title1{
    color: var(--dark-color);
    font-size: 3.5rem;
    margin-bottom: 30px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 3rem;
}

/* ====================================== SECTION 1 ====================================== */
/* ============================== S1 CONTENT ============================== */
#sec1.container1 .content {
    left: 50%;
    position: absolute;
    top: 35%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
  
#sec1.container1 .content * {
    color: var(--text-color);
    text-align: center;
}
  
#sec1.container1 .content img {
    display: block;
    height: 112px;
    margin: 50px auto 50px;
    pointer-events: none;
    width: 112px;
}
  
#sec1.container1 .content h1.title {
    margin: 12px;
    font-weight: 600;
}

.bg1{
  background-image: url("../img/work3.jpg");
  background-color: #bdb0b3;
  background-attachment: fixed !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}
/* ============================== S1  PANAH============================== */
.box{
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: 5.5rem;
  margin-top: 29rem;
  transform: translate(-50%, -50%);
}

.box span{
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid var(--dark-color);
  border-right: 2px solid var(--dark-color);
  transform: rotate(45deg);
  margin-right: 20rem;
  animation: animate 2s infinite;
}

.box span:nth-child(3){
  animation-delay: -0.2s;
  ;
}

.box span:nth-child(4){
  animation-delay: -0.4s;
}

@keyframes animate{
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px)
  }

  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px)
  }
}

/* ====================================== SECTION 2 ====================================== */
.about__container{
    justify-items: center;
    row-gap: 2rem;
    text-align: center;
    margin-top: 3rem;
}

.about__img{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    width: 180px;
    height: 180px;
    background-color: var(--first-color);
    border-radius: 50%;
    overflow: hidden;
}

.about__img img{
    width: 150px;
}

.about__subtitle{
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.about__text{
    margin-bottom: var(--mb-4);
}

.about__profession{
    display: block;
    margin-bottom: var(--mb-4);
    color: var(--dark-color);
    font-weight: bold;
}

.about__social-icon{
    font-size: 1.4rem;
    margin: 0 var(--mb-1);
    color: var(--dark-color);
}

.about__social-icon:hover{
    color: var(--text-color);
}

/* ====================================== SECTION 3 ====================================== */
.anggota{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  /* margin: 100px auto 100px; */
  padding: 0;
  
  margin-bottom: 0px;
}

.title-heading h2{
  text-align: center;
  text-transform: uppercase;
  margin-top: 2.5rem;
  color: #316f80;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  margin-bottom: 2.5rem;
  margin-top: 10px;
}

.anggota .card{
  position: relative;
  width: 300px;
  margin: 0 auto;
  margin-top: -3rem;
  background: linear-gradient(500deg, var(--white-color) 0%,var(--second-color)
  100%);
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0,0,0,.5);
  overflow: hidden;
  margin-top: 50px;
  padding-left: 65px;
}

.anggota .card .layer{
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  var(--white-color);
  z-index: 1;
  transition: 0.5s;
}

.anggota .card:hover .layer{
  top: 0;
}

.anggota .card .content{
  position: relative;
  z-index: 2;
}

.anggota .card .content img{
  width: 150px;
  height: 150px;
  margin-top: 20px;
  border-radius: 60%;
  overflow: hidden;
  border: 2px solid #fff;
  box-shadow: 0 10px 40px rgba(0,0,0,.5);
}

.anggota .card .content .details h2{
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 22px;
  color: var(--dark-color);
  padding-right: 55px;
}

.anggota .card .content .details h2 span{
  color: var(--white-color);
  font-size: 15px;
  transition: 0.5s;
  
}

.anggota .card:hover .content .details h2 span{
  color:var(--first-color);
}

/* ====================================== SECTION 4 ====================================== */
#sec4.container {
  padding-bottom: 245px;
}

#sec4.container p.desc {
  text-align: center;
  width: 60%;
  margin: auto;
  margin-bottom: 100px;
}

/* ============================== S4 CONTENT ============================== */
#sec4.container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 10px;
}

#sec4.container .content > div {
  width: 10%;
}

.contributor p {
  color: var(--second-color);
  font-size: 19.2px;
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.contributor p:last-child {
  margin-bottom: 0;
}

.contributor p a {
  font-weight: normal;
  color: var(--text-color);
}

/* ======================= S4  RIGHT ======================= */
#sec4.container .content .right .website {
  margin-bottom: 86px;
}

/* ============================ S4  BACKGROUND ============================ */
#sec4.container .bg {
  bottom: -80px;
  position: absolute;
  right: 0;
  -webkit-transform: translateY(5%);
  transform: translateY(5%);
  width: 50%;
  z-index: -1;
}

#sec4.container .bg img {
  pointer-events: none;
  width: 100%;
}






/* ====================================== FOOTER ====================================== */
.footer{
  background-color: var(--white-color);
}

.logo{
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none; 
}

.logo img{
  margin-right: 22px;
  pointer-events: none;
  width: 60px;
}

.footer__container{
  row-gap: 2rem;
}

.footer__title1{
  color: var(--dark-color);
  margin-bottom: var(--mb-2);
}

.footer__title{
  font-size: var(--normal-font-size);
  color: var(--dark-color);
  margin-bottom: var(--mb-2);
}

.footer__link{
  padding: .25rem 0;
  color: var(--first-color);
  font-weight: 600;
  margin-bottom: 5px;
}

.footer__link::after{
  padding: .25rem 0;
  color: var(--first-color);
  font-weight: 600;
  margin-bottom: 5px;
}

.footer__link:hover{
  color: var(--text-color);
}

.place .fab{
  font-size: 1.4375rem;
  color: var(--white-color);
  background: var(--dark-color);
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 7px;
}

.place .fab:hover{
  background: var(--second-color);
}

footer .bottom {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 27px 0;
  position: relative;
}

footer .bottom:after {
  content: '';
  background: var(--grey-40);
  height: 2px;
  left: 50%;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
}

footer .bottom span {
  margin: 0 5px;
}

footer .bottom span a {
  color: var(--first-color);
}

footer .bottom span a:hover {
  color: var(--text-color);
}


@media screen and (min-width: 768px){
    .nav2{
        height: calc(var(--header-height) + 1rem);
    }
    .nav__logo2{
        margin-right: 20.5rem;
    }
    .nav__list2{
        display: flex;
        padding-top: 0;
    }
    .nav__item2{
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }
    .nav__toggle2{
        display: none;
    }
    .nav__link2{
        color: #fcfdfe;
    }
    .nav__link2:hover{
        color: var(--dark-color);
    }
    .active::after{
        background-color:  #fcfdfe;
    }
    .footer__container{
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
    }
    .box{
      margin-left: 22.5rem;
    }

    #sec4.container {
      padding-bottom: 250px;
      text-align: left;
    }
    
    #sec4.container p.desc {
      text-align: center;
      width: 60%;
      margin: auto;
      margin-bottom: 100px;
    }

    /* ============================== S4 CONTENT ============================== */
    #sec4.container .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 40px;
      margin-left: 10px;
    }

    #sec4.container .content > div {
      width: 50%;
    }

    .contributor p {
      color: var(--second-color);
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 16px;
    }

    .contributor p:last-child {
      margin-bottom: 0;
    }

    .contributor p a {
      font-weight: normal;
      color: var(--text-color);
    }

    /* ======================= S4  RIGHT ======================= */
    #sec4.container .content .right .website {
      margin-bottom: 86px;
      margin-left: 10px;
    }

    /* ============================ S4  BACKGROUND ============================ */
    #sec4.container .bg {
      bottom: -80px;
      position: absolute;
      right: 0;
      -webkit-transform: translateY(5%);
      transform: translateY(5%);
      width: 40%;
      z-index: -1;
    }

    #sec4.container .bg img {
      pointer-events: none;
      width: 100%;
    }
}

@media screen and (min-width: 1024px){
    .bd-grid{
      margin-left: auto;
      margin-right: auto;
    }
}